<h1>Cotação e Paridade de moedas (venda e compra) </h1>
<span>Cotações diárias e Taxas de Câmbio - todos os boletins diários</span>
<!-- <ul class="nav nav-tabs" style="margin-top: 1rem;">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="dia">Cotação e Paridade por Dia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="periodo">Cotação e Paridade por Periodo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="abertura-intermediario">Cotação moeda abertura ou intermediário</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="periodo-fechamento">Cotação moeda período fechamento</a>
  </li>
</ul> -->
<div style="margin-top: 1rem;">
  <tabset>
    <tab heading="Cotação e Paridade por Dia" id="tab1">
      <app-paridade-dia></app-paridade-dia>
    </tab>
    <tab heading="Cotação e Paridade por Periodo" id="tab2">
      <app-paridade-periodo></app-paridade-periodo>
    </tab>
    <tab heading="Cotação moeda abertura ou intermediário" id="tab3">
      <app-abertura-intermediario></app-abertura-intermediario>
    </tab>
    <tab heading="Cotação moeda período fechamento" id="tab4">
      <app-periodo-fechamento></app-periodo-fechamento>
    </tab>
  </tabset>
</div>
<div style="margin-top: 2rem;">
</div>
